@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
/* GERAL */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",Helvetica, sans-serif;
    color: #00ff88;
    border: none;
}

input {
    text-align: center;
    display: justify;
    width: 75%;
}

label {
    text-align: center;
    display: block;
    width: 75%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color: #00ff88;
}

body {
    padding-top: 5vh;
    background-color:	#201b2c;
}


/* FORM */

#main-container h1 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 25px;
}

form {
    display: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: center;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    position: center;
    font-weight: bold;
    font-size: .8rem;
}

input {
    padding: 10px;
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    border-bottom: 2px solid #323232;
    font-size: .9rem;
    margin-bottom: 10px;
}

input:focus {
    border-color: #00ff88;
}

button {
    background-color: #00ff88;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
