@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",Helvetica, sans-serif;
    color: #00ff88;
    border: none;
}

input, label {
    text-align: center;
    display: block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color: #00ff88;
}

body {
    padding-top: 5vh;
    background-color:	#201b2c;
}

.formulario {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    width: 650px;
    position: right;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.2509803922);
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* FORM */

#main-container h1 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    position: relative;
    font-weight: bold;
    font-size: .8rem;
}

input {
    padding: 10px;
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    border-bottom: 2px solid #323232;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: #00ff88;
}

input[type="submit"] {
    background-color: #00ff88;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

input[type="button"] {
    background-color: #00ff88;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

button {
    background-color: #00ff88;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
    margin: 0%;
}

#agreement {
    margin-top: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}

/* validacoes */
.error-validation {
    color: #FF1A1A;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template {
    display: none;
}